.Wrapper {
  width: 100%;
  min-height: 90vh;
  height: fit-content;
  position: relative;
  overflow: hidden;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  display: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.hidden {
  opacity: 0;
}

.Wrapper .elipse {
  width: 100%;
  max-width: 1000px;
}

.Wrapper img {
  min-width: 300px;
}

.Wrapper .NewElements {
  position: absolute;
  display: flex;
  bottom: -7%;
  width: 100%;
  align-items: center;
}

.Wrapper .NewElements img {
  max-width: 38%;
  object-fit: contain;
}
.Wrapper .NewElements .mu {
  margin-left: -8%;
  margin-bottom: -5%;
}
.Wrapper .NewElements .sar {
  margin-left: -5%;
}

.Wrapper .NewElements .unn {
  margin-left: -5%;
}
.Wrapper .NewElements .cho {
  margin-left: -4%;
}

@media screen and (max-width: 1050px) {
  .Wrapper .NewElements .mu,
  .Wrapper .NewElements .cho {
    display: none;
  }
  .Wrapper img {
    -webkit-user-drag: none;
    user-select: none;
    min-width: 250px;
  }
  .Wrapper .NewElements img {
    max-width: 70%;
  }
  .Wrapper .NewElements .unn {
    margin-right: -5%;
  }
}

@media screen and (max-width: 480px) {
  .Wrapper img {
    min-width: 150px;
  }

  .Wrapper .elipse {
    min-width: 150vw;
  }
  .Wrapper .NewElements .sar {
    display: none;
  }

  .Wrapper .NewElements .unn {
    display: none;
  }

  .logo {
    display: flex;
    width: 50vw;
  }

 

  .Wrapper {
    gap: 6vh;
  }
}
