.Wrapper {
  width: 100%;
  min-height: 95vh;
  position: relative;
  overflow: hidden;
  padding-top: 5vh;
}

.Wrapper .elipse {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.Wrapper img {
  -webkit-user-drag: none;
  user-select: none;
  min-width: 300px;
}

.Wrapper .NewElements {
  position: absolute;
  display: flex;
  bottom: -7%;
  width: 100%;
  align-items: center;
}

.Wrapper .NewElements img {
  max-width: 38%;
  object-fit: contain;
}
.Wrapper .NewElements .mu {
  margin-left: -8%;
  margin-bottom: -5%;
}
.Wrapper .NewElements .sar {
  margin-left: -5%;
}

.Wrapper .NewElements .unn {
  margin-left: -5%;
}
.Wrapper .NewElements .cho {
  margin-left: -4%;
}

@media screen and (max-width: 1050px) {
  .Wrapper .NewElements .mu,
  .Wrapper .NewElements .cho {
    display: none;
  }
  .Wrapper img {
    -webkit-user-drag: none;
    user-select: none;
    min-width: 250px;
  }
  .Wrapper .NewElements img {
    max-width: 70%;
  }
  .Wrapper .NewElements .unn {
    margin-right: -5%;
  }
}
